# Logs
node_modules
var/log/nginx
dist
build

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

tsconfig.tsbuildinfo
tsconfig.tsbuildinfo.json
secrets/*
!secrets/generate-secrets.sh
prod
